/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.04.2021, 23:30:30
    Author     : anubi
*/
#introduction {
  background: linear-gradient(rgba(100,181,246 ,1), rgba(0,0,0,0.8)), 
              url('../img/background.jpg') 0% 0%/cover 
}

.fill-viewport {
  min-height: 100vh 
}

.text-white-70 {
  color: rgba(255,255,255,0.7)
}
